{% extends '::base.html.twig' %}


{% block title %}Error!{% endblock %}

{% block topNavLinks %}
{{ parent() }}

{% block mediaSelect %}
<div id="headerMediaSelection" class="fr">
    <ul>
        <li>
            <a href="#" class="button drop-down">Search</a>
            {% render "SkNdMediaBundle:Media:mediaSelection" %}
        </li>
    </ul>
</div>
{% endblock %}
{% endblock %}


{% block content %}
<h1>Oh dear&hellip;how embarrassing!</h1>
<p>Sorry about that, something seems to have gone wrong.</p>
{% endblock %}

    
{% block javascripts %}
    {{parent()}}
{% endblock %}