{% extends '::base.html.twig' %}
{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block title %}Error!{% endblock %}

{% block topNavLinks %}
{% block mediaSelect %}
    <div id="headerMediaSelection">
        {% render "SkNdMediaBundle:Media:mediaSelection" %}
    </div>
{% endblock %}

{{ parent() }}
{% endblock %}

{% block body %}

{% block content %}
<h1>Oh dear&hellip;how embarrassing!</h1>
<p>Sorry about that, something seems to have gone wrong.</p>
{% endblock %}

    
{% endblock %}