build/
composer.phar

# Bootstrap
app/bootstrap*
app/bootstrap.php.cache


# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

!web/bundles/SkNd
web/bundles/SkNd/css/original/.sass-cache
web/bundles/SkNd/cache


# Configuration files
app/config/parameters.yml

# nbproject files
nbproject/*

#misc files
app/Resources/ZendFramework