build/
composer.phar

# Bootstrap
app/bootstrap*
app/bootstrap.php.cache


# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/framework
web/bundles/sensiodistribution
web/bundles/webprofiler

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# nbproject files
nbproject/*

#misc files
web/bundles/*/Thumbs.db
app/Resources/ZendFramework