{% extends '::base.html.twig' %}
{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block title %}Memory Walls Gallery{% endblock %}

{% block topNavLinks %}
{% block mediaSelect %}
    <div id="headerMediaSelection">
        {% render "SkNdMediaBundle:Media:mediaSelection" %}
    </div>
{% endblock %}

{{ parent() }}
{% endblock %}

{% block body %}
{% block content %}
{% endblock %}

    
{% endblock %}



