{% extends '::base.html.twig' %}

{% block pageTitle %}
    {{parent()}}
{% endblock %}
{% block mediaSelect %}
    <div id="headerMediaSelection">
        {% render "ThinkBackMediaBundle:Media:mediaSelection" %}
    </div>
{% endblock %}
{% block body %}
    
{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}


