{% extends '::base.html.twig' %}
{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
{% block mediaSelect %}
    <div id="headerMediaSelection">
        {% render "ThinkBackMediaBundle:Media:mediaSelection" %}
    </div>
{% endblock %}
<h1>{% block pageTitle %}{% endblock %}</h1>

{% block content %}
{% endblock %}

    
{% endblock %}



