{% extends 'SkNdMediaBundle::layout.html.twig' %}
{% block title %}Search for {{ searchKeywords  }}{% endblock %}
{% block content %}
<h1>Results for &quot;{{ searchKeywords }}&quot;</h1>
<p>The results were for {{ searchKeywords }} </p>
<div>
    {# look up amazon, show listings #}
    <h2>Film &amp; TV</h2>
    
</div>

<div>
    {# look up youtube on search string #}
    <h2>Top YouTube Videos</h2>
    
</div>

<div>
    {# look up flickr on search string #}
    <h2>Top Flickr Pictures</h2>
</div>

{% endblock %}