{% extends 'SkNdMediaBundle::layout.html.twig' %}
{% block title %}Details{% if mediaResource is defined %} for {{mediaResource.mediaResourceCache.title}}{% endif %}{% endblock %}

{% block content %}
    {#<a href="{{path('search', returnRouteParams)}}">back to listings</a>#}
    {%if mediaResource is defined %}
        <h1>{{mediaResource.mediaResourceCache.title}}</h1>
    {% endif %}
    {% if 'search' in referrer %}
    <a class="go-back" href="{{referrer}}">go back to the previous page</a>
    {% endif %}
    {% if media != 'music' %}
        {% include 'SkNdMediaBundle:Media:filmTVDetailsPartial.html.twig' %}

    {#with
        {
            'media'         : media,
            'decade'        : decade,
            'genre'         : genre,
            mainResponse is defined ? 'mainResponse' : mainResponse
        }#}

    {% endif %}

{% endblock %}
