<div id="ytapiplayerContainer">
    <h4 id="ytapiplayerTitle">{{firstVideo.title}}</h4>
    <div id="ytapiplayer">
        <p>You need Flash player 8+ and JavaScript enabled to view this video.</p>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>  
<script type="text/javascript">
    var ytplayer = null, ytPlayerTitle = null;
    
    function onYouTubePlayerReady(playerId) {
        ytplayer = document.getElementById("noodledig-ytplayer");
        ytPlayerTitle = document.getElementById("ytapiplayerTitle");
    }
    
    function play(videoId, videoTitle) {
        if (ytplayer) {
            ytplayer.loadVideoById(videoId);
            ytPlayerTitle.innerHTML = videoTitle;
            //console.log(videoTitle);
        }
    }

    var params = { allowScriptAccess: "always" };
    var atts = { id: "noodledig-ytplayer" };
    
    swfobject.embedSWF("http://www.youtube.com/e/{{firstVideo.id}}?enablejsapi=1&playerapiid=ytplayer",
                   "ytapiplayer", "420", "280", "8", null, null, params, atts);
</script>