{% extends '::base.html.twig' %}
{% block title %}Error{% endblock %}

{% block pageTitle %}An error occurred{% endblock %}

{% block body %}
<h2>Oops!</h2>
<p>Sorry, something went wrong, please go back and try again.</p>
{% endblock %}
