{% extends 'SkNdMediaBundle::layout.html.twig' %}

{% block title %}{% if username is defined %}{{username}}&rsquo; {% endif %}Memory Walls{% endblock %}

{% block content %}
<h1>{% if username is defined %}{{username}}&rsquo; {% endif %}Memory Walls</h1>

{% endblock %}