{% extends 'SkNdUserBundle::memoryWallLayout.html.twig' %}
{% block title %}Memory Wall &hellip; {{ memoryWall.name }}{% endblock %}

{% block content %}
<h1>{{ memoryWall.name }}</h1>
<div id="memoryWallActions">
    <h2>What can I do now?</h2>
    <p>Well, get started adding things to your memory wall. Use noodleDig to search for something, a Film, TV Programme etc and then just select &lsquo;add to my Memory Wall&rsquo; either from the listings or from a details.</p>
    <p>Once you&rsquo;ve got some stuff on your Memory Wall, be a sport and share it with your friends!</p>
</div>
{% endblock content %}
