{% extends 'SkNdMediaBundle::layout.html.twig' %}
{% block title %}Whoops{% endblock %}

{% block pageTitle %}Oh dear&hellip;{% endblock %}

{% block content %}
<h1>Uh&ndash;oh</h1>
<p>Sorry, something went wrong, please go back and try again.</p>
{% endblock %}
