{% extends 'SkNdMediaBundle::layout.html.twig' %}
{% block title %}Whoops{% endblock %}

{% block pageTitle %}Oh dear&hellip;{% endblock %}

{% block content %}
<p>Sorry, something went wrong, please go back and try again.</p>
{% endblock %}
