{% extends '::base.html.twig' %}
{% block title %}Index{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}

<div id="introPanel" class="full-width cf">
    <h1 class="mainHeading">Find stuff you loved&hellip;</h1>
    <div class="fl third-width left">
        <h2>Re&ndash;discover it</h2>
        <p>noodleDig helps you find all those cool old Films and TV Programmes you thought you&rsquo;d forgotten.</p>
    </div>
    <div class="fl third-width centre">
        <h2>Grab it</h2>
        <p>Once you&rsquo;ve found some cool stuff, bung it down on your own personalised memory wall.</p>
    </div>
    <div class="fl third-width right">
        <h2>Share it</h2>
        <p>noodleDig makes it easy to share those great memories with all your pals.</p>
    </div>
</div>


{# media selection partial #}
<div id="contentSearches" class="half-width">
<div id="mediaSelection">
    {% render "SkNdMediaBundle:Media:mediaSelection" %}
</div>
<div id="ageSearch"></div>
    {# age based search partial #}
</div>
</div>

{% endblock %}
{% block javascripts %} 
{{ parent() }}
{# <script src="{{ asset('bundles/SkNd/scripts/main.js') }}" type="text/javascript"></script>#}
{% endblock %}