{% extends 'ThinkBackMediaBundle::layout.html.twig' %}
{% block pageTitle %}Listings{% endblock %}

{% block body %}
<div id="mediaResultsListings">
    <ul>
        <li>{{ decade }}</li>
        <li>{{ genre }}</li>
    </ul>
</div>

{% endblock %}