{% extends 'ThinkBackMediaBundle::layout.html.twig' %}
{% block pageTitle %}
    Listings for {{ decade }} {{media}} ({{ genre }})
{% endblock %}
{% block content %}

<div id="mediaResultsListings">
    {% if media == 'music' %}
        {% include 'ThinkBackMediaBundle:Media:musicListingsPartial.html.twig' with {'data' : data }%}
    {% else %}
        {% include 'ThinkBackMediaBundle:Media:filmTVListingsPartial.html.twig' with {'data' : data }%}
    {% endif %}
        
</div>

{% endblock %}