{% extends 'ThinkBackMediaBundle::layout.html.twig' %}
{% block content %}
{% block pageTitle %}Results for &quot;{{ searchKeywords }}&quot;{% endblock %}
<p>The results were for {{ searchKeywords }} </p>

{% endblock %}