{% extends 'ThinkBackMediaBundle::layout.html.twig' %}
{% block pageTitle %}
    Listings for {{ decade }} {{ genre }}
{% endblock %}
{% block content %}

<div id="mediaResultsListings">
    <ul>
        <li>{{ decade }}</li>
        <li>{{ genre }}</li>
    </ul>
</div>

{% endblock %}