
/********** FORM ELEMENT GENERICS ***********/
form {
    fieldset {
        border: 1px solid #7AA4E2;
        padding: 1em;
        
        > div {
            padding-top: 0.5em;    
        }
        
        legend {
            font-size: 0.8em;
            font-style: italic;
            margin: 0 0.5em 0.5em 3.3em;
            padding: 0 0.5em;
            color: #3A6289;
        }
    }
    
    label {
        font-size: 0.85em;
        line-height: 1.2em;
        font-style: italic;
        display: block;
        margin: 0 0 3px 0;
        width: 100%;
            @media #{$desktop}{
                float: left;
                text-align: right;
                width: 9em;
                margin: 0 20px 0 0;
            }
    }
    
    &.small { 
        label { 
            float: none;
            width: auto;
            margin: 0 0 5px 0;
            text-align: left;
        }
    }
	
    %inputs {
        border: 1px solid #808DA0;
        margin-bottom: 0.5em;
        padding: 7px 5px;
        font-size: 1em;
        width: 100%;
        &:focus {
            border: 1px solid #E5961D;
        }
    }
	
    %input-wide-widths {
        width: 95%;
        @media #{$desktop}{
            width: 13em;
        }
    }
    
    %input-narrow-widths { 
        width: 95%;
        @media #{$desktop}{
            width: 95%;
        }
    }
	
    input {
        @extend %inputs;
        
        &[type="text"],
        &[type="email"],
        &[type="password"],
        &[type="file"]
        {
            @extend %input-wide-widths;
        }
        &[type="checkbox"] {
            @extend %input-wide-widths;
            border: none;
        }
        
        &[type="submit"],
        &[type="reset"],
        &#_submit {
            font-size: 1em;
            margin-top: 0.2em;
            border: 2px solid #fff;
            width: 100%;
            @media #{$desktop}{
                width: 13em;
                margin-left: 8.9em;
                font-weight: bold;
            }
            
            
        }
        form.small & { 
            width: auto!important;
        }
    }
    textarea {
        @extend %inputs;
        @extend %input-wide-widths;
    }
    select {
        @extend %inputs;
        @extend %input-wide-widths;
    }	
    
    div.date_widget {
        @media #{$desktop}{
                float: left;
        }
        select {
                margin-right: 1px;
                width: 30%;
                @media #{$desktop}{
                    width: 4em;
                    margin-right: 1px;
                }
    	}
    }
    
    div.error {
        input,
        textarea, 
        select {
            border: 1px solid #dd0000;
        }
    }
    
    .form-errors {
        clear: both;
        font-size: 0.8em;
        //margin: 0 0 5px;

        li {
            color: #dd0000;
        }
        
        @media #{$desktop}{
            margin: 0 0 3px 11em;
        }
    }
    
}

.borderradius {
    form {
        select,
        input,
        fieldset,
        textarea {
            @include border-radius(5px);
        }    
    }
}

span {
    &.required {
        margin-left: 0.5em;
        color: #ff0000;
        font-weight: bold;
        float: right;
    }
    &.form-errors {
        float: right;
        color: #dd0000;
        font-size: 0.7em;
        margin-bottom: 2px;
    }
}


/********** BUTTON ELEMENTS ***********/
.button,
.basic-button,
input#_submit,
input[type="submit"],
input[type="reset"] {
    background-color: #6B94CE;
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 5px 7px;
    text-decoration: none;
    text-align: center;
    
    &:hover,
    &.selected,
    {
        background-color: #5174A5;
        background-image: none;
    }
}

.basic-button {
    border: 3px solid #ACC5EC;
    color: #fff;
}

.orange {
    background-color: #F57621;
    &:hover { 
        background-color: #E05316;
    }
}

a.button {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: #fff;
        text-decoration: none;
    }    
}


.cssgradients {
    .button,
    .blue,
    input#_submit {
        //use mixin
        @include css-gradient(rgb(165,190,222),rgb(110,152,215),rgb(165,190,222));
        &:hover
        {
            background: #6384B5!important;
            background-image: none;
        }
    }
    
    .orange {
        @include css-gradient(rgb(245,146,54),rgb(245,118,33),rgb(245,146,54));
        &:hover
        {
            background: #E05316!important;
            background-image: none;
        }
        
    }
    
    .grey {
        @include css-gradient(rgb(200,200,200),rgb(170,170,170),rgb(170,170,170));
        &:hover
        {
            background: #666666!important;
            background-image: none;
        }
    }
}

.boxshadow {
    .button,
    input#_submit,
    input[type="submit"]{
        @include box-shadow(0, 0, 5px, 0, rgba(15, 15, 15, 0.5));
    }
    
    .button:hover,
    .selected,
    input#_submit:hover,
    input[type="submit"]:hover {
        @include box-shadow(0, 0, 5px, 0, rgba(15, 15, 15, 0));
    }    
}

.borderradius {
    .button,
    .basic-button,
    input#_submit,
    input[type="submit"] {
        @include border-radius(10px);
    }    
}
