$desktop: "only screen and (min-width: 600px)";

.fl {
    margin-bottom: 0.5em;
    @media #{$desktop}{
        float: left;
    }
}

.fr {
    margin-bottom: 0.5em;
    @media #{$desktop}{
        float: right;
    }
}

.clear {
    clear: both;
}


ul.bullet-list,
ol.bullet-list {
    margin-left: 1em;

    li {
        margin-bottom: 0.5em;    
    }
}

ul.bullet-list li {
    list-style-type: circle;
}

ol.bullet-list li {
    list-style-type: decimal;
}

.search-form-label {
    position: absolute;
    left: -9999em;
    top: -9999em;
}

div.errors {
    color: #CC514F;
    font-size: 0.9em;

    p {
        margin-bottom: 15px;
        color: inherit;
    }

    strong {
        font-weight: bold;  
    }   
}

.note {
    font-size: 0.7em;
    line-height: 1.1em;
}

p.note {
    margin-bottom: 5px;
}

li.note {
    list-style-type: none;
}

.strapline {
    font-style: italic;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.hide {
    display: none;
}

/********** LINK FONT STYLES ***********/
a {
    color: #29478D;
    text-decoration: none;
}
a:visited {
    color: #3967AC;
}
a:hover {
    text-decoration: underline;
}


@media #{$desktop}{
    .half-width,
    .half-width-centralise {
        width: 48.9%;
    }

    .half-width-centralise {
        margin-left: 15.3em;
    }

    .third-width {
        width: 31.9%;
    }

    .two-thirds-width {
        width: 65.9%;
    }

    .full-width {
        width: 100%;
    }

    .left,
    .right,
    .centre{ 
        margin: 0 20px;
    }

    .left {
        margin-left: 0;
    }
    .right {
        margin-right: 0;
    }
    .centre {
        margin: 0;    
    }
}


/********** FLASH MESSAGES ***********/

.flashMessages {
    @media #{$desktop}{
        margin: -10px 0;
        width: 65.2%;
    }
    ul {
        background-color: #C9E9A9;
        border: 1px solid #86B121;
        color: #336600;
        font-size: 0.8em;
        padding: 0.3em 0.7em;
        
        .borderradius & {
            @include border-radius(10px);
        }
        .boxshadow & {
            @include box-shadow(2px, 2px, 0, 0, rgba(15, 15, 15, 0.2));
        }
    }
}


.drop-down {
    position: absolute;
    left: -9999em;
    @media #{$desktop}{
        position: static;
        left: auto;
    }
}

