/*
    Document   : main
    Created on : 29-Apr-2013, 18:33:19
    Author     : Simon Kerr
    Description:
    Pulls in all the separate style sheets
*/

$desktop: "only screen and (min-width: 600px)";
$mobile: "only screen and (max-width: 599px)";
@import "mixins","normalize.scss","boilerplate.scss","generics.scss","typography.scss","forms.scss","sprites.scss";
//$tablet: "only screen and (min-width: 481px)";


/*------ main styles for all width devices -----------*/
body {
    background-color: #CEDEE8;
    @media #{$desktop}{
        background: #CEDEE8 url("/SkNd/web/bundles/SkNd/images/bg-v2.jpg") 50% top no-repeat;    
        min-height: 623px;
        padding: 4em 5em;
        
        .multiplebgs & {
            background-color: #CEDEE8;
            background-image: url("/SkNd/web/bundles/SkNd/images/bg-footer.png"), url("/SkNd/web/bundles/SkNd/images/bg-v3.jpg");
            background-position: 50% 100%, top center;
            background-repeat: repeat-x, no-repeat;
            background-attachment: scroll, fixed;
            background-size: auto auto, cover;
        }
        
    }
}

%contentHeader {
    padding: 0.3em 0;
    border-bottom: 2px solid #E5961D;
    margin: 0;
}

div#wrapper {
    min-width: 250px;
    border: 2px solid #E5961D;
    background-color: #fff;
    margin: 0 10px;
    padding: 10px;
    z-index: 2;
    .borderradius & {
        @include border-radius(5px);
    }
    
    h3 {
        @extend %contentHeader;
        border: none;
    }
    
    @media #{$desktop} {
        position: relative;
        margin: 0 auto;
        width: 61.3em; // equiv of 980px 
        //min-width: 740px;
        max-width: 1280px;
        padding: 0;
        border: 2px solid #E5961D;
        background-color: #fff;
        .borderradius & {
            @include border-radius(15px);
        }
        .boxshadow & {
            @include box-shadow(-5px, -5px, 0, 0, rgba(0,0,0,0.1));
        }
    }
}

/********** HEADER ***********/
div#header {
    @media #{$desktop} {
        position: absolute;
        margin: -3.3em 0 0 0;
        width: 100%;
        height: 3.2em;
        z-index: 2;
        li li {
            ul, form {
                .boxshadow & {
                    @include box-shadow(0, 0, 5px,0, rgba(15, 15, 15, 0.52));
                }
            }
        }
    }
    
    ul#top-nav {
        //position: absolute;
        float: right;
        //top: 4em;
        //left: 0;
        width: auto;
        @media #{$desktop} {
            top: 0;
            width: 100%;
            float: none;
        }
        li {
            a#menu-popup {
                float: right;
                position: absolute;
                text-indent: -999em;
                width: 40px;
                z-index: 2;
                top: 4em;
                right: 1.6em;
                padding: 3px 4px 1px;
                @media #{$desktop} { 
                    display: none;
                }
                
                span {
                    float: left;
                }
                
                
            }
            div#menu-options { 
                display: none;
                @media #{$desktop} { 
                    display: block;
                }
                @media #{$mobile} { 
                    position: absolute;
                    width: 85%;
                    right: 2.1em;
                    top: 4.5em;
                    border: 2px solid #E5961D;
                    padding: 20px;
                    background: #fff;
                    z-index: 3;
                    .borderradius & { 
                        @include border-radius(5px);
                    } 
                    
                    li { 
                        width: 100%;
                        display: block;
                        padding: 5px 0;
                        border-top: 1px solid #ddd;
                        text-align: center;
                        
                        a, span { 
                            display: block;
                            width: 100%;
                           
                        }
                    }
                }
            }
            
            &:hover { 
                div#menu-options { 
                    @media #{$mobile} {
                        display: block;
                        position: absolute;
                    }
                    
                }   
            }
        }
    }
}

/*------ sm sharing -----------*/
ul#sm-sharing-menu {
    width: auto;
    margin: 1em 0.6em;
    z-index: 1;
    float: right;
    @media #{$desktop} { 
        position: relative;
        width: 100%;
        top: auto;
    }
    li { 
        a#sm-sharing-popup { 
            float: right;
            position: relative;
            text-indent: -999em;
            width: 40px;
            z-index: 2;
            margin: 0 1em;
            padding: 2px;
            @media #{$desktop} {
                display: none;
            }
            span {
                float: left;
            }
        }
        
        div { 
            display: none;
            @media #{$desktop} {
                display: block;
            }   
        }
        
        &:hover { 
            div {
                @media #{$mobile} { 
                    position: absolute;
                    display: block;
                    top: 1.6em;
                    right: 2.1em;
                }
                
            }
        }
    }
        
}

div#sm-sharing {
    float: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    @media #{$mobile} { 
        position: absolute;
        width: 85%;
        right: -16px;
        top: -14px;
        border: 2px solid #E5961D;
        padding: 20px;
        background: #fff;
        .borderradius & { 
            @include border-radius(5px);
        } 
    }
    
    @media #{$desktop} {
        border: none;
        top: 0;
        right: 0;
        position: relative;
        margin: 0 auto;
        //width: 100%;
        width: 61.3em; // equiv of 980px 
        //min-width: 740px;
        max-width: 1280px;   
    }
    
    ul {
        margin: 5px 15px 0 0;
        padding: 0;
        @media #{$mobile} { 
            padding: 20px;
        }
        @media #{$desktop} {
            position: absolute;
            margin: 7.4em 0 0 -3em;
        }
    }
    li {
        display: inline;
        @media #{$desktop} {
            background-color: #D5E1E4;
            border: 2px solid #FFFFFF;
            display: block;
            height: 3em;
            margin-bottom: 0.3em;
            padding: 5px;
            width: 5em;   
            .borderradius & {
                @include border-radius(10px);
            }
            .cssgradients & {
                @include css-gradient(rgb(213,225,228), rgb(237,242,242), rgb(213,225,228));
            }
            .boxshadow & {
                @include box-shadow(0, 0, 3px, 0, rgba(5, 5, 5, 0.3));
            }
            
            &:hover {
                margin-left: -0.5em;
            }
            
            img {
                display: block;
                width: auto;
            }
        }
        a {
            display: block;
            float: left;
            margin-right: 3px;
            @media #{$mobile} { 
                width: auto;
                height: auto;
                float: none;
                margin: 0 0 20px 0;
                padding: 0 0 0 3em;
                min-height: 35px;
            }
            
            span {
                @media #{$desktop} { 
                    position: absolute;
                    left: -9999em;
                    top: -9999em;
                }
            }
        }
    }
}


/*------ logo -------------------------*/
a#siteLogo img {
    max-width: 354px;
    min-width: 177px;
    width: 60%;
    margin: -25px 0 1em -15px;
    @media #{$desktop}{
        float: left;
        width: 354px;
        margin: -30px 2em 2em -27px;
    }
}

/*------ header drop down panels ------------*/

@media #{$desktop}{
    %hiddenPanel {
        position: absolute;
        top: -9999em;
        padding-top: 2em;
        z-index: 1;
        left: 0;
        right: 0;
    }
    %hiddenPanelShow {
        
        top: 0;
    }
    
    %headerPanelBG {
        background-color: #9AB9E8;
        border: 2px solid #fff;
    }
    %panelLink {
        float: right;
        padding: 0.5em 0;
        margin: 0;
        text-align: center;
        min-width: 9em;
    }
}

/********** FLASH MESSAGES ***********/

.flashMessages {
    position: absolute;
    right: 0;
    top: 0.8em;
    z-index: 2;
    z-index: 2;
    @media #{$desktop}{
        margin: -20px 10px 0 0;
        width: 65%;
    }
    a.sprites {
        background-color: #89AA68;
        cursor: pointer;
        margin: 0;
        position: absolute;
        right: 2px;
        text-indent: -9999em;
        top: 2px;
        
        .borderradius & { 
            @include border-radius(10px);
        }
        
        &:hover { 
            background-color:#708E52;
        }

    }
    
    ul {
        background-color: #C9E9A9;
        border: 1px solid #86B121;
        color: #336600;
        //font-size: 0.8em;
        padding: 0.3em 0.7em;
        
        .borderradius & {
            @include border-radius(10px);
        }
        .boxshadow & {
            @include box-shadow(2px, 2px, 0, 0, rgba(15, 15, 15, 0.2));
        }
    }
}

.drop-down {
    position: absolute;
    left: -9999em;
    @media #{$desktop}{
        position: static;
        left: auto;
    }
}



ul#memoryWalls {
    margin: 0 0 1em 0;
    @media #{$desktop}{
        float: right;
        position: relative;
        margin: 0 0 0 10px;
        z-index: 1;
        width: 9em;
    }
    li {
        @media #{$desktop}{
            float: right;
            min-width: 9em;
            ul {
                @extend %hiddenPanel;
                @extend %headerPanelBG;
                .borderradius & {
                    @include border-radius(10px);
                }
                li:first-child a {
                    border-bottom: 1px solid #fff;
                }
                a {
                    @extend %panelLink;
                }
            }
            &:hover ul {
                @extend %hiddenPanelShow;
            }
        }
        
        a {
            display: block;
            margin-bottom: 0.5em;
            position: relative;
            z-index: 2;
            display: block;
            font-weight: bold;
            @media #{$desktop}{
                float: left;
                padding: 5px 0;
                width: 9em;
                color: #fff;
            }
        }
    }
}

ul#loginPanel {
    display: block;
    @media #{$desktop}{
        float: right;
        //margin-left: 10px;
        span {
            position: relative;
            z-index: 2;
            color: #fff;
            font-weight: bold;
            text-transform: lowercase;
            min-width: 9em;
            display: block;
            max-height: 2.4em;
            overflow: hidden;
            max-width: 10em;
            
        }
    }
    li {
        @media #{$desktop}{
            float: left;
            margin: 0 0 0 10px;
            position: relative;
        }
        a {
            display: block;
            margin-bottom: 0.5em;
            font-weight: bold;
            @media #{$desktop}{
                margin: 0;
                color: #fff;
            }
        }
        
        ul {
            a {
                text-align: center;
                margin: 0;
                padding: 0.5em 0;
            }
            li { 
                margin: 0;
            }
            @media #{$desktop}{
                @extend %hiddenPanel;
                @extend %headerPanelBG;
                max-width: 10em;
                .borderradius & {
                    @include border-radius(10px);
                }
                li:first-child a {
                    border-bottom: 1px solid #fff;
                }
                a {
                    @extend %panelLink;
                }
            }
        }
        @media #{$desktop}{
            &:hover ul {
                @extend %hiddenPanelShow;
            }
        }
        
    }
}

div#headerMediaSelection{
    @media #{$desktop}{
        position: relative;
        z-index: 2;
        a.button {
            position: relative;
            display: block;
            z-index: 3;
            width: 8.4em;
        }
        span.required {
            display: none;
        }
        ul { 
            li {
                form {
                    @extend %hiddenPanel;
                    @extend %headerPanelBG;
                    padding: 3em 10px 1em 10px;
                    width: 20em;
                    .borderradius & {
                        @include border-radius(10px);
                    }
                    
                    label { 
                        width: 25%;
                    }
                    
                    select { 
                        width: 65%;
                    }
                    
                    input {
                        width: 65%;
                        &[type="submit"] { 
                            width: 100%;
                            margin: 0;
                        }
                    }
                    
                }
                &:hover form {
                    @extend %hiddenPanelShow;
                }
            }
        }   
    }
}

/********** CONTENT ***********/
div#content {
    margin: 0;
    padding: 0;
    width: 100%;
    @media #{$desktop}{
        position: relative;
        z-index: 1;
        padding: 20px;
        //> div { 
        //    padding: 20px;
        //}
    }
    
    h1 {
        @extend %contentHeader;
        margin: 0 0 10px 0;
        @media #{$desktop}{
            line-height: 1.3em;
            margin: 0 0 15px 10em;
        }
    }
    h2 {
        @extend %contentHeader;
    }
    
    dl {
        
    }
    
    dt {
        font-size: 0.8em;
        margin-bottom: 3px;
        @media #{$desktop}{
            margin: 0 20px 1em 0;
            float: left;
            text-align: right;
            width: 22em;
        }
    }
    
    dd {
        margin-bottom: 1em;
    }
    
}

div#introPanel {
    @media #{$desktop}{
        margin-bottom: 1em;
    }
    h2 {
        border: none;
        padding: 0;
        margin-bottom: 0.2em;
    }
    li {
        @media #{$desktop}{
            float: left;
            p {
                margin-left: 7em;
            }
        }
        img {
            float: left;
            width: 48%;
            max-width: 143px;
            margin-right: 20px;
        }
    }
}

/*---------- content searches --------*/
div#contentSearches {
    @media #{$desktop}{
        border: 2px solid #E5961D;
        width: 50%;
        height: 24em;
        background-color: #fff;
    }
    ul {
        @media #{$desktop}{
            position: relative;
            &:first-child {
                li {
                    > div {
                        position: absolute;
                        top: -9999em;
                        left: -9999em;
                        padding: 0 20px;
                        background-color: #fff;
                        height: 17.5em;
                    }
                    &:hover,
                    &.selected {
                        > div {
                            top: 3.2em;
                            left: 0;
                        }
                    }
                    
                }
                
            }
        }
        li {
            background-color: #fff;
            @media #{$desktop}{
                float: left;
                width: 100%;
                background-color: #E5961D;
                &:hover h2,
                &.selected h2 {
                    color: #fff;
                }
                
                
                h2 {
                    border: none;
                    text-align: center;
                    padding: 7px 0 12px 0;
                    color: #fff;
                    margin: 0;
                }
            }
            
        }
    }
    .borderradius & {
        @media #{$desktop}{
            @include border-radius(15px);
            li { 
                &#tab1 {
                    @include border-radius-specific(10px, 10px, 0, 0);
                }
                //&#tab2 {
                //    -moz-border-radius: 0 10px 0 0;
                //    border-radius: 0 10px 0 0;
                //}
                
            }
            ul:first-child li {
                margin-bottom: 1em;
                @media #{$desktop}{
                    margin-bottom: 0;
                }
            }
        }
    }
}

/*--------- news --------*/
#news {
    @media #{$desktop}{
        width: 50%;
        margin: 0;
        padding: 0 0 0 20px;
        li span {
            font-size: 0.85em;
        }
    }
    p {
        font-size: 0.9em;
    }
}


/*---------- profile page --------*/
div.fos_user_user_show {
    dl {
        border: 1px solid #7AA4E2;
        padding: 20px;
        
        .borderradius & {
            @include border-radius(5px);
        }
    }
}

/*------------- listings --------------*/
div.pagingControls {
    margin-bottom: 20px;
    p {
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 0.7em;
    }
    
    li {
        display: inline;
    }
    
    a {
        float: left;
        width: auto;
        padding: 3px 8px;
        margin: 0 5px 0 0;
    }
}


ul.actions {
    clear: both;
    > li {
        text-align: left;
        > a {
            display: block;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            //padding: 5px 0 5px 40px;
            padding: 0;
            text-transform: lowercase;
            text-align: center;
            &.button {
                //display: block;
                //height: auto;
                //margin: 0;
                padding: 0;
                //width: auto;
                //text-align: left;
                //font-size: 0.9em;

                &:hover {
                    background-image: none;
                }
            }

            > span {
                display: block;
                //width: auto;
                //padding: 3px 0 0 35px;
                //margin: 0 5px;
            }

            @media #{$desktop}{
                margin-top: 0;
                font-size: 0.7em;
            }

        }
    }
}



ul#listings {
    margin-top: 20px;
    @media #{$desktop}{
        margin: 20px 0 0 -20px;
    }
    
    //actions for panels extended from above
    //@extend %actions;
    ul.actions {
        clear: both;
        @media #{$desktop}{
            height: 12.5em;
            float: right;
            width: 3.6em;
            text-align: center;
            clear: none;
        }

        > li {
            background-color: #ACC5EC;
            margin-bottom: 5px;
            padding: 5px 10px;
            @media #{$desktop}{
                border-top: 1px solid #FFFFFF;
                padding: 10px 0 30px 0;
                margin: 0;
                &:hover {
                    background-color: #6A99DF;
                    ul {
                        left: 0;
                        top: 0;
                    }
                }
                &:first-child {
                    border-top: none;
                }

                ul { 
                    .note {
                        display: block;
                        color: #fff;
                    }
                }

                .borderradius &.top-action {
                    @include border-radius-specific(0,6px,0,0);
                }
                .borderradius &.bottom-action {
                    @include border-radius-specific(0,0,6px,0);
                }	
            }			

            > a {
                @media #{$desktop}{
                    height: 0.45em;
                    padding: 25px 0 0;
                    width: 4em;
                    margin-left: 12px;
                    text-indent: -10px;
                }
            }

            ul {
                padding: 10px;
                .borderradius & {
                    @include border-radius-specific(6px,0,0,6px);
                }

                @media #{$desktop}{
                    position: absolute;
                    left: -9999em;
                    top: -9999em;
                    padding: 20px;
                    background-color: #6A99DF;
                    width: 87%;
                    height: 100%;
                    text-align: left;
                }

                a {
                    color: #fff;
                }

            }
        }
    }
    
    > li {
        border: 2px solid #ACC5EC;
        background: #fff;
        margin-bottom: 10px;
        &:hover {
            background-color: #E4EAF1;
            border: 2px solid #6A99DF;
        }
        .borderradius & {
            @include border-radius(10px);
        }
        @media #{$desktop}{
            position: relative;
            float: left;
            height: 12.5em;
            margin: 0 0 20px 20px;
            
            .full-width & {
                width: 47.5%;

            }
            
            .two-thirds-width & { 
                width: 96.6%;
                // submenus on the 2/3s width listings panels 
                ul li ul { 
                    width: 90.7%;
                }
            }
            
            > div {
                float: left;
                width: 75%;  	
            }
        }
        > div {
            padding: 20px;
        }
        
        img {
            float: left;
            margin: 0 20px 20px 0;
        }
    }
}

ul.userMemoryWalls {
    li { 
        @media #{$desktop}{ 
            float: left;
            width: 100%;
        }
        a {
            span {
                background-image: none;
            }
        }
    }
}

ul#memoryWallGallery {
    > li {
        .borderradius & {
            @include border-radius(10px);
        }
        @media #{$desktop}{
            display: block;
            height: auto;
            margin: 0 0 20px;
            padding: 10px 15px;
            width: 89%;
        }
    }
}

%details-images {
    background-color: #E1E8F0;
    padding: 12px;
    max-width: 120px;
    
}

a.go-back { 
    background: url("/SkNd/web/bundles/SkNd/images/nd-icons.png") no-repeat scroll -10px -242px transparent;
    display: block;
    font-size: 0.9em;
    padding-left: 20px;
    @media #{$desktop}{ 
        width: 20em;
    }
}



#recommendations {
    img {
        @extend %details-images;
        .borderradius & {
            @include border-radius(10px);
        }
        @media #{$desktop}{ 
            margin-right: 20px;
            float: left;
        }
    }
    
    ul { 
        &.actions { 
            clear: none;
            float: left;
            > li { 
                a { 
                    margin-top: 10px;
                    width: auto;
                    background-position: left 50%;
                    //@media #{$desktop}{ 
                    //    width: 10em;
                    //}
                }

                div { 
                    @media #{$desktop}{ 
                        width: 8.5em;
                        float: left;
                    }
                }
            }
        }
        &#memoryWallGallery {
            margin: 0 0 20px 0;
            
            > li {
                display: block;
                height: auto;
                margin: 0 0 20px;
                padding: 10px 15px;
                width: 100%;

            }
        }
        
        div > a {
            display: block;
        }
    }
    
    > div {
        > ul { 
            > li {
                border-top: 1px solid #E1E8F0;
                padding: 10px 0;
                &:first-child { 
                    border: none;
                }
            }
        }
    }
}



/*----------- DETAILS --------------*/
#itemOverview {
    position: relative;
    margin-top: 10px;
    > img {
        @extend %details-images;
        .borderradius & {
            @include border-radius(10px);
        }
        @media #{$desktop}{ 
            margin-right: 20px;
            float: left;
            max-width: 150px;
        }
    }
    
    ul.actions { 
        clear: none;
        > li { 
            position: relative;
            margin-bottom: 10px;
            background: none;
            
            > a { 
                display: block;
                width: 99%;
                text-align: left;
                font-size: 1em;
                padding: 5px 0 5px 0;
                height: auto;
                margin-top: 0;
                background-position: left 50%;
                
                @media #{$desktop} { 
                    float: left;
                    width: 90%;
                }
                
                &.add-it { 
                    position: relative;
                    z-index: 2;
                }
            
  
            }
            
                        
            &:hover ul {
                @media #{$desktop} { 
                    left: 0;
                    top: 0;
                }
            }
            
            ul { 
                @media #{$desktop} { 
                    position: absolute;
                    left: -9999em;
                    top: -9999em;
                    padding: 50px 10px 10px 10px;
                    background-color: #6A99DF;
                    width: 90%;
                    text-align: left;
                    z-index: 1;
                    height: auto;
                    
                    .borderradius & { 
                        @include border-radius(10px);
                    }
                }
                li { 
                    color: #fff;
                    a { 
                        display: block;
                        width: auto;
                        padding-left: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}

#similarItems,
#youtubeVideos {
    margin-top: 20px;
}

/*----------- YT Player --------------*/
#youtubeVideos {
    
    ul.actions { 
        li {
            > a { 
                @media #{$desktop}{ 
                    background-position: 0 center;
                    height: 2.7em;
                    padding: 1px 0 0;
                    text-indent: -9999em;
                    width: 3.5em;
                    position: relative;
                    z-index: 2;
                }
            }
            ul {
                &.userMemoryWalls {
                    text-align: center;
                    .borderradius & { 
                        @include border-radius(10px);
                    }
                    li { 
                        color: #fff;
                        margin-bottom: 10px; 
                        text-align: left;
                    }
                    a {
                        color: #fff;
                        text-indent: 0;
                        width: auto;
                        height: auto;
                    }
                    @media #{$desktop}{  
                        position: absolute;
                        top: -9999em;
                        height: auto;
                        left: auto;
                        overflow-y: scroll;
                        padding: 5px;
                        width: 8.5em;
                        z-index: 1;
                    }

                }
                @media #{$desktop}{  
                    padding: 0;
                    height: 19.3em;
                    overflow: scroll;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
           }
           
           &:hover { 
               ul.userMemoryWalls { 
                   @media #{$desktop}{                     
                       right: 5px;
                       top: 5px;
                   }
               }
           }
        }
    }
}

#youTubeCarousel { 
    @media #{$desktop}{ 
        float: left;
        margin-left: -20px;
        width: 103%;
        height: 26em;
        overflow-y: scroll;
    }
    > li {
        background-color: #E1E8F0;
        margin-top: 10px;
        padding: 10px;
        position: relative;
        width: 95%;
        .borderradius & { 
            @include border-radius(10px);
        }

        @media #{$desktop}{ 
            float: left;
            height: 11em;
            margin: 20px 0 0 20px;
            padding: 10px;
            position: relative;
            width: 8em;
        }
    }
    
    ul.actions {
        @media #{$desktop}{ 
            position: absolute;
            right: -0.5em;
            top: -0.5em;
        }
    }
    
    img { 
        margin-right: 10px;
        @media #{$desktop}{ 
            height: 6.5em;
        }
    }
    
    a { 
       @media #{$desktop}{ 
            display: block;
            font-size: 0.8em;
            line-height: 1.1em;
            word-wrap: break-word;
            margin-top: 5px;
       }
    }
}

#ytPlayer { 
    object { 
        width: 100%;
        @media #{$desktop}{ 
            width: 420px;
        }
    }
}

#ytapiplayerContainer {
    margin-top: 20px;
    .borderradius & { 
        @include border-radius(10px);
    }
    
    @media #{$desktop}{ 
        padding: 20px;
        background-color: #E1E8F0;
        
        h4 { 
            float: right;
            width: 7em;
            margin-left: 10px;
        }
    }
    
    object { 
        width: 100%;
        @media #{$desktop}{ 
            width: 420px;
        }
    }
    
}

#itemOverview,
#youTubeCarousel,
#recommendations,
#memoryWallGallery
{
    ul.actions li > a:hover { 
        background-image: none;
    }
}

/*--------------- MEMORY WALLS -------------*/
ul#memoryWallGallery {
    @media #{$desktop}{ 
        margin: 20px 0 0 -20px;
    }
    > li {
        border: 2px solid #ACC5EC;
        background-color: #fff;
        margin: 0 0 20px;
        min-height: 7em;
        padding: 10px 15px;
        position: relative;
        width: 92%;
        
        &:hover { 
            background-color: #E4EAF1;
            border: 2px solid #6A99DF;
        }
        
        @media #{$desktop}{ 
            float: left;
            height: 12.5em;
            margin: 0 0 20px 20px;
            padding: 10px 15px;
            width: 27.7%;
        }
        
        ul { 
            font-size: 0.9em;
            margin-top: 5px; 
            &.actions { 
                clear: both;

                li {
                    @media #{$desktop}{ 
                        float: left;
                        margin-right: 0.5em;
                    }
                    > a {
                        height: auto;
                        padding: 3px 10px 3px 0;
                        width: auto;
                        font-size: 1em;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        
        div {
            width: auto;
            float: none;
            p {
                margin: 0 0 10px 0;
                text-indent: 0;
            }
        }
    }
    
    img { 
        &.mw-image { 
            float: left; 
            margin-right: 20px;
        }
         
    }
}

/*------- memory wall details page --------*/

div#content {

    div#mw-options {
        float: right;
        ul { 
            > li { 
                z-index: 1;
                float: left;
                position: relative;
                margin-left: 10px;
                > a { 
                    position: relative;
                    display: block;
                    padding: 0;
                    z-index: 2;

                    span { 
                        display: block;
                        text-indent: -9999em;
                    }
                }

                > div { 
                    padding: 0 1em 0.5em 1em;
                    z-index: 1;
                    position: absolute;
                    top: -9999em;
                    right: 20px;
                    width: 100%;
                    @media #{$desktop}{ 
                        width: auto;
                    }
                    background-color: #fff;
                    border: 1px solid #6A99DF;
                    @include border-radius(10px);
                    
                    &.open {
                        top: 20px;
                    }

                }

                &:hover { 
                    > div { 
                        top: 20px;
                    }
                    
                }

                &.first {
                    z-index: 1;
                    > div { 
                        width: 20em;
                    }
                }
                &.second {
                    z-index: 2;
                    > div { 
                        width: 20em;
                        dt { 
                            width: auto;
                            float: none;
                            text-align: left;
                            margin: 0;
                            clear: both;
                        }
                        dd { 
                            float: left;
                            margin: 10px 10px 10px 0;
                            a { 
                                float: left;
                                margin: 0;
                                padding: 2px 8px 2px 3px;
                                span {
                                    display: block;
                                    padding-left: 32px;
                                    width: auto;
                                                                        
                                    
                                }
                            }

                        }
                    }
                }
                &.third { 
                    z-index: 3;
                    > div { 
                        @media #{$desktop}{
                            width: 28em;
                            div.controls { 
                                margin-left: 8em;
                                input[type="submit"], 
                                input[type="reset"] {
                                    float: left;
                                    margin: 0 0 0 16px;
                                    width: 38%;
                                }
                            }
                            
                        }
                        
                    }
                }
            }
        }
        #ugc-progress {
            width: 26em;
            position: relative;
            margin-top: 5px;
            #bar { 
                background-color: #6B94CE; 
                width:0%; 
                height:5px; 
            }
        }
    }

    li.mw-MediaResource {
        width: 94%;
        border: 2px solid #ACC5EC;
        background: #fff;
        padding: 10px;
        margin: 0 0 20px 0;
        .borderradius & {
            @include border-radius(10px);
        }
        &:hover {
            background-color: #E4EAF1;
            border: 2px solid #6A99DF;
        }

        @media #{$desktop}{ 
            position: relative;
            float: left;
            height: auto;
            margin: 0 0 20px 20px;
            width: 45%;
        }

        div#youtubeapiItems & { 
            @media #{$desktop}{ 
                height: auto;
            }
        }

        img {
            @extend %details-images;
            margin-right: 10px;
            .border-radius & {
                @include border-radius(10px);
            }
            @media #{$desktop}{ 
                float: left;
                width: 45%;
            }
        }
        ul.actions {
            margin-top: 10px;
        }
    }

    img.mw-MediaResource {
        margin-right: 10px; 
        @media #{$desktop}{ 
            float: left;
        }
    }

}
/********** FOOTER ***********/
div#footer {
    padding: 20px;
    background-color: #E5961D;
    
    .borderradius & { 
        @include border-radius(5px);
        @media #{$desktop}{ 
            @include border-radius-specific(0,0,10px,10px);
        }
    }
    
    .right p { 
        margin-left: 4.5em;
    }
    
    ul { 
        &:first-child { 
            > li {
                margin-bottom: 1em;
                @media #{$desktop}{ 
                    float: left;
                    margin-bottom: 0; 
                }
            }
        }
        
        &.bullet-list li { 
            font-weight: bold;
            color: #fff;
        }
        
        li {
            margin-bottom: 0.5em;
        }
    }
    
    h3, p, a {
        color: #fff;
        word-wrap: break-word;
    }
    
    a.button { 
        display: block;
        width: 50%;
    }
    
    img { 
       float: left; 
    }
}





@import "helpers.scss";