.sprites{ background:url("/SkNd/web/bundles/SkNd/images/sprites.png") top left no-repeat; }
.right-icon{ width:10px; height:19px; background-position:-10px -10px; }
.left-icon{ width:10px; height:19px; background-position:-10px -39px; }
.email-share-icon{ width:36px; height:36px; background-position:-10px -68px; }
.p-share-icon{ width:36px; height:36px; background-position:-10px -114px; }
.t-share-icon{ width:36px; height:36px; background-position:-10px -160px; }
.fb-share-icon{ width:36px; height:36px; background-position:-10px -206px; }
.delete-small-icon{ width:16px; height:16px; background-position:-10px -252px; }
.delete-icon{ width:33px; height:33px; background-position:-10px -278px; }
.edit-small-icon{ width:16px; height:16px; background-position:-10px -321px; }
.edit-icon{ width:30px; height:30px; background-position:-10px -347px; }
.comment-icon{ width:30px; height:30px; background-position:-10px -387px; }
.share-icon{ width:30px; height:30px; background-position:-10px -427px; }
.menu-icon{ width:30px; height:30px; background-position:-10px -467px; }
.options-icon{ width:30px; height:30px; background-position:-10px -507px; }
.close-icon{ width:30px; height:30px; background-position:-10px -547px; }
.buy-icon{ width:30px; height:30px; background-position:-10px -587px; }
.add-icon{ width:30px; height:30px; background-position:-10px -627px; }
.explore-icon{ width:30px; height:30px; background-position:-10px -667px; }
.info-icon{ width:30px; height:30px; background-position:-10px -707px; }

