.sprites{ background:url("/SkNd/web/bundles/SkNd/images/sprites.png") top left no-repeat; }
.right-icon{ width:10px; height:19px; background-position:-10px -10px; }
.left-icon{ width:10px; height:19px; background-position:-10px -39px; }
.email-share-icon{ width:36px; height:36px; background-position:-10px -68px; }
.p-share-icon{ width:36px; height:36px; background-position:-10px -114px; }
.t-share-icon{ width:36px; height:36px; background-position:-10px -160px; }
.fb-share-icon{ width:36px; height:36px; background-position:-10px -206px; }
.share-icon{ width:30px; height:30px; background-position:-10px -252px; }
.menu-icon{ width:30px; height:30px; background-position:-10px -292px; }
.edit-icon{ width:30px; height:30px; background-position:-10px -332px; }
.close-icon{ width:30px; height:30px; background-position:-10px -372px; }
.buy-icon{ width:30px; height:30px; background-position:-10px -412px; }
.add-icon{ width:30px; height:30px; background-position:-10px -452px; }
.explore-icon{ width:30px; height:30px; background-position:-10px -492px; }

