/*----- all typography related styles ----------*/
/*
150% is the ideal line-height value
16px is the base font size
Ideal line-height for this is 1.5em
16 * 1.5 = 24
24 is the magic number 
*/


@font-face {
    font-family: 'KGStrawberryLimeadeRegular';
    src: url('/SkNd/web/bundles/SkNd/fonts/kgstrawberrylimeade-webfont.eot');
    src: url('/SkNd/web/bundles/SkNd/fonts/kgstrawberrylimeade-webfont.eot?#iefix') format('embedded-opentype'),
         url('/SkNd/web/bundles/SkNd/fonts/kgstrawberrylimeade-webfont.woff') format('woff'),
         url('/SkNd/web/bundles/SkNd/fonts/kgstrawberrylimeade-webfont.ttf') format('truetype'),
         url('/SkNd/web/bundles/SkNd/fonts/kgstrawberrylimeade-webfont.svg#KGStrawberryLimeadeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}

.fontface {
    h1, h2, h3 {
        font-family: 'KGStrawberryLimeadeRegular';
    }
}

h1,h2,h3,.heading {
    font-family: 'Segoe Print', sans-serif, cursive, arial;
    font-style: italic;
    color: #2B1B4C;
}

dt {
    color: #2B1B4C;
}

p, a, li, dd {
    font-size: 1em;
    line-height: 1.5em;
    color: #101939;
}

p {
    margin-bottom: 20px;
}

p+p {
    text-indent: 1em;
    margin-top: -20px;
}

h1 {
    font-size: 2em;
    line-height: 1em;
}

h2 {
    font-size: 1.7em;
    line-height: 1.0909em;
}

h3 {
   font-size: 1.5em;
   line-height: 1.2em;
}

h4 {
   font-size: 1.25em;
   line-height: 1.3em;
}

h5, h6 {
   font-size: 1.125em; 
   line-height: 1.35em;
}



form {
    select, input, textarea {
        font-family: Tahoma, sans-serif, Arial;
    }
}