@media screen and (min-width: 600px){

/********** TEST ***********/
.grid-on {
    background: url("/SkNd/web/bundles/SkNd/images/960-grid.png") left top repeat-y;
}


/********** GENERICS ***********/

.fl {
    float: left;    
}
.fr {
    float: right;
}

.clear {
    clear: both;
}

.half-width,
.half-width-centralise {
    width: 48.9%;
}

.half-width-centralise {
    margin-left: 15.3em;
}


.third-width {
    width: 31.9%;
}

.two-thirds-width {
    width: 65.9%;
}

.full-width {
    width: 100%;
}

.left,
.right,
.centre{ 
    margin: 0 20px;
}

.left {
    margin-left: 0;
}
.right {
    margin-right: 0;
}
.centre {
    margin: 0;    
}


/********** WIDER SCREEN STYLES ***********/

body {
    background: #CEDEE8 url("/SkNd/web/bundles/SkNd/images/bg-v2.jpg") 50% top no-repeat;    
    min-height: 623px;
    padding: 0 3em;
}

.multiplebgs body {
    background-color: #CEDEE8;
    background-image: url("/SkNd/web/bundles/SkNd/images/bg-footer.png"), url("/SkNd/web/bundles/SkNd/images/bg-v2.jpg");
    background-position: 50% 100%, 50% top;
    background-repeat: repeat-x, no-repeat;
}

div#wrapper {
    position: relative;
    margin: 5em auto;
    width: 61.3em; /* equiv of 980px */
    min-width: 740px;
    max-width: 980px;
    padding: 0;
    border: 2px solid #E5961D;
    background-color: #fff;
    
}

.borderradius div#wrapper {
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.boxshadow div#wrapper {
    -moz-box-shadow: -5px -5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -5px -5px rgba(0,0,0,0.1);
    box-shadow: -5px -5px rgba(0,0,0,0.1);
}

/********** HEADER ***********/
div#header {
    position: absolute;
    margin: -61px 0 0 0;
    width: 100%;
    height: 6em;
    z-index: 2;
}

/*------ sm sharing -----*/
div#sm-sharing {
    float: none;
    position: relative;
    margin: 5em auto;
    width: 61.3em; /* equiv of 980px */
    min-width: 740px;
    max-width: 980px; 
}

div#sm-sharing > ul {
    position: absolute;
    margin: 7.4em 0 0 -3em;
}

div#sm-sharing li {
    background-color: #D5E1E4;
    border: 2px solid #FFFFFF;
    display: block;
    height: 2.3em;
    margin-bottom: 0.3em;
    padding: 5px;
    width: 4em;
}

.borderradius div#sm-sharing li {
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.cssgradients div#sm-sharing li {
    background-image: linear-gradient(top, rgb(213,225,228) 0%, rgb(237,242,242) 100%);
    background-image: -o-linear-gradient(top, rgb(213,225,228) 0%, rgb(237,242,242) 100%);
    background-image: -moz-linear-gradient(top, rgb(213,225,228) 0%, rgb(237,242,242) 100%);
    background-image: -webkit-linear-gradient(top, rgb(213,225,228) 0%, rgb(237,242,242) 100%);
    background-image: -ms-linear-gradient(top, rgb(213,225,228) 0%, rgb(237,242,242) 100%);

    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(213,225,228)),
            color-stop(1, rgb(237,242,242))
    );
}

.boxshadow div#sm-sharing li {
    -moz-box-shadow: 0 0 3px rgba(5, 5, 5, 0.3);
    -webkit-box-shadow: 0 0 3px rgba(5, 5, 5, 0.3);
    box-shadow: 0 0 3px rgba(5, 5, 5, 0.3);
}

div#sm-sharing li:hover {
    margin-left: -0.5em;
}

div#sm-sharing li img {
    display: block;
    width: auto;
}

/*------ logo -------------------------*/
a#siteLogo img {
    float: left;
    /*width: 361px;*/
    width: 354px;
    /*margin: -37px 2em 2em -34px;*/
    margin: -22px 2em 2em -27px;
}

/*----- header drop down panels ------*/
ul#loginPanel li ul,
ul#memoryWalls li ul,
div#headerMediaSelection ul li form
{
    position: absolute;
    top: -9999em;
    padding-top: 2em;
    z-index: 1;
}

ul#loginPanel li:hover ul,
ul#memoryWalls li:hover ul,
div#headerMediaSelection ul li:hover form {
    left: 0;
    right: 0;
    top: 0;
}

ul#loginPanel li ul,
ul#memoryWalls li ul,
div#headerMediaSelection ul li form {
    background-color: #9AB9E8;
    border: 2px solid #fff;
}

div#headerMediaSelection span.required {
    display: none;
}


.borderradius ul#loginPanel li ul,
.borderradius ul#memoryWalls li ul,
.borderradius div#headerMediaSelection ul li form {
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.boxshadow div#header li ul,
.boxshadow div#header li form {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.52);
    -moz-box-shadow: 0 0 5px rgba(15, 15, 15, 0.52);
    -webkit-box-shadow: 0 0 5px rgba(15, 15, 15, 0.52);
}

ul#loginPanel li ul a,
ul#memoryWalls li ul a {
    float: none;
    padding: 5px 7px;
    margin: 0.3em 0 0.3em 0;
    text-align: center;
    min-width: 6em;
}

ul#loginPanel li ul li:first-child a,
ul#memoryWalls li ul li:first-child a {
    border-bottom: 1px solid #fff;
}

/*------ login -------------------------*/
ul#loginPanel {
    float: right;
}

ul#loginPanel > li {
    float: left;
    margin-left: 20px;
    position: relative;
}

ul#loginPanel li a {
   margin: 0;
   color: #fff;
}

ul#loginPanel li ul a {
    text-align: center;
    margin: 0.5em 0 0 0;
}

ul#loginPanel span {
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: bold;
    text-transform: lowercase;
    min-width: 6em;
    display: block;
}

/*------ memory wall links ------------*/
ul#memoryWalls {
    float: right;
    position: relative;
    margin: 0 0 0 1em;
    z-index: 1;
}

ul#memoryWalls li a {
    float: left;
    padding: 5px 7px;
    width: 9em;
    color: #fff;
}

/*----------- quick search ----------*/
div#headerMediaSelection {
    position: relative;
    z-index: 2;
}

div#headerMediaSelection a.button {
    position: relative;
    display: block;
    z-index: 3;
    width: 11.4em;
}

div#headerMediaSelection ul li form {
    padding: 3em 10px 1em 10px;
    width: 11em;
}


/********** FLASH MESSAGES ***********/

div.flashMessages {
    margin: -10px 0;
    width: 65.2%;
}

/********** CONTENT ***********/

div#content {
    position: relative;
    z-index: 1;
    width: 95.9%;
    margin: 20px;
}

div#content h1 {
    line-height: 1.3em;
    margin: 5px 0 15px 10em;
}

div#introPanel {
    margin-bottom: 1em;
}

div#introPanel li {
    float: left;
}

div#introPanel li p{
    margin-left: 7em;
}

.drop-down {
    position: static;
    left: auto;
}

/*---------- content searches --------*/
div#contentSearches {
    border: 2px solid #E5961D;
    width: 28.6em;
    height: 24em;
    background-color: #fff;
}

.borderradius div#contentSearches {
    -moz-border-radius: 15px;
    border-radius: 15px;
}

div#contentSearches ul {
    position: relative;
}

div#contentSearches li {
    float: left;
    width: 100%;
    background-color: #E5961D;
}

/*div#contentSearches li:hover,
div#contentSearches li.selected {
    background-color: transparent;
}*/

/*div#contentSearches li a,
div#contentSearches li a:hover {
   text-decoration: none;
   color: inherit;
}*/

div#contentSearches li h2 {
    border: none;
    text-align: center;
    padding: 7px 0 12px 0;
    color: #fff;
    margin: 0;
}

.borderradius div#contentSearches ul:first-child li {
    margin-bottom: 0;
}

.borderradius div#contentSearches li#tab1 {
    /*-moz-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;*/
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.borderradius div#contentSearches li#tab2 {
    -moz-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}

div#contentSearches li:hover h2,
div#contentSearches li.selected h2 {
    /*color: #E5961D;*/
    color: #fff;
}

div#contentSearches ul:first-child li > div {
    position: absolute;
    top: -9999em;
    left: -9999em;
    padding: 20px;
    background-color: #fff;
    height: 17.5em;
}

div#contentSearches ul:first-child li:hover > div,
div#contentSearches ul:first-child li.selected > div
{
    top: 3.2em;
    left: 0;
}

/*--- ALL CONTENT FORMS ---*/
ul.form-errors {
    margin: 0 0 3px 10.5em;
}

form input[type="text"] {
    width: 95%;
}

div#content form label {
    float: left;
    text-align: right;
    width: 9em;
    margin: 0 20px 0 0;
}

div#content form select {
    width: 13.75em;
}

div#content form div.date_widget {
    float: left;
}

div#content form div.date_widget select {
    width: 4.3em;
    margin-right: 1px;
}

div#content form input,
div#content form textarea{
    width: 13em;
}

div#content input[type="submit"],
div#content input#_submit
/*div#content .button*/ {
    width: 13.8em;
    margin-left: 8.9em;
    font-weight: bold;
}

/*----------- news ---------*/
div#news {
    width: 48.7%;
    margin-top: 0.5em;
}

div#news li span {
    font-size: 0.85em;
}

/*---------- profile page --------*/

/*----------- admins dl's ---------*/
dt,
dd {
    margin-bottom: 1em;
}

dt {
    float: left;
    margin-right: 20px;
    text-align: right;
    width: 22em;
}

/*----------- listings and memory wall index ---------*/

div#searchResults ul#listings {
    margin: 20px 0 0 -20px;
}

ul#listings > li
{
    position: relative;
    float: left;
    height: 12.5em;
    margin: 0 0 20px 20px;
}

ul#listings > li > div {
    float: left;
    width: 75%;  
    
}

ul#listings > li > ul.actions {
    height: 12.5em;
    float: right;
    width: 3.6em;
    text-align: center;
    clear: none;
}

ul#listings ul.actions > li {
    border-top: 1px solid #FFFFFF;
    padding: 13px 0 23px 0;
    margin: 0;
}

ul#listings ul.actions > li:hover {
    background-color: #6A99DF;
}

ul#listings ul.actions > li:first-child {
    border-top: none;
}

.borderradius ul#listings ul.actions > li.top-action {
    -moz-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.borderradius ul#listings ul.actions > li.bottom-action {
    -moz-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

div#recommendations ul#memoryWallGallery > li {
    display: block;
    height: auto;
    margin: 0 0 20px;
    padding: 10px 15px;
    width: 89%;
}

ul.actions > li > a {
    height: 0.45em;
    margin-top: 0;
    padding: 25px 0 0;
    width: 5em;
    font-size: 0.7em;
}

ul.actions > li ul {
    position: absolute;
    left: -9999em;
    top: -9999em;
    padding: 20px;
    background-color: #6A99DF;
    width: 78.8%;
    height: 80%;
    text-align: left;
}



ul#listings ul.actions > li.explore-it > a,
ul#listings ul.actions > li.explore-it > a:hover{
    background-position: 10px -145px;
}

ul#listings ul.actions > li.add-it > a,
ul#listings ul.actions > li.add-it > a:hover
{
    z-index: 2;
    position: relative;
    background-position: 10px -178px;
}

ul#listings ul.actions > li.buy-it > a,
ul#listings ul.actions > li.buy-it > a:hover {
    background-position: 10px -210px;
}


ul.actions > li:hover ul {
    left: 0;
    top: 0;
}

ul.actions > li ul .note {
   display: block;
   color: #fff;
       
}
/* if no recommendations exist display each listing as half-width */
div.full-width ul#listings > li {
    width: 47.5%;
}

/* if recommendations exist display each listing as 2/3 width */
div.two-thirds-width ul#listings > li {
    width: 96.6%;
}

/* submenus on the 2/3s width listings panels */
div.two-thirds-width ul#listings > li ul li ul {
    width: 84.1%;
}
    

/********** DETAILS **********/
#itemOverview {
    position: relative;
}

#itemOverview > img,
#recommendations img {  
    margin-right: 20px;
    float: left;
    max-width: 120px;
}

#itemOverview ul.actions li > a{ 
    width: 80%;
}

#itemOverview ul.actions > li ul {
    position: absolute;
    left: -9999em;
    top: -9999em;
    padding: 50px 10px 10px 10px;
    background-color: #6A99DF;
    width: 75.2%;
    text-align: left;
    z-index: 1;
    height: auto;
}

.borderradius #itemOverview ul.actions > li ul {
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#itemOverview ul.actions > li:hover ul {
    left: 0;
    top: 0;
}

#recommendations li > a {
    width: 10em;
}

#recommendations li div {
    width: 8.5em;
    float: left;
}


/*----- youtube player -----*/
div#ytapiplayerContainer {
    padding: 20px;
    background-color: #E1E8F0;
}

#youtubeVideos > ul {
    padding: 0;
    height: 19.3em;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

#youTubeCarousel > li {
    float: left;
    height: 8em;
    margin: 12px 15px 5px 0;
    padding: 5px 10px;
    width: 7em;
}

#youTubeCarousel img {
    height: 6.5em;
}

#youTubeCarousel a {
    display: block;
    font-size: 0.8em;
    line-height: 1.1em;
    word-wrap: break-word;
}

#youtubeVideos li ul.userMemoryWalls {
    position: absolute;
    top: -9999em;
    height: 8em;
    left: auto;
    overflow-y: scroll;
    padding: 5px;
    width: 7.5em;
    z-index: 1;
}

#youTubeCarousel ul.actions {
    position: absolute;
    right: -0.5em;
    top: -0.5em;
}

#youtubeVideos ul.actions li:hover ul.userMemoryWalls {
    right: 5px;
    top: 5px;
}

#youTubeCarousel ul.actions > li > a {
    background-position: 0 center;
    height: 2.2em;
    padding: 3px 0 0;
    text-indent: -9999em;
    width: 2.7em;
    position: relative;
    z-index: 2;
}

/*#youTubeCarousel ul.actions > li > a span {
    background-image: none;
}*/

div#ytapiplayerContainer h4 {
    float: right;
    width: 7em;
    margin-left: 10px;
}

#ytPlayer object,
#ytapiplayerContainer object {
    width: 420px;
}

/*---------- MEMORY WALLS ---------*/
ul#memoryWallGallery {
    margin: 20px 0 0 -20px;
}

ul#memoryWallGallery > li {
    float: left;
    height: 12.5em;
    margin: 0 0 20px 20px;
    padding: 10px 15px;
    width: 27.7%;
}

ul#memoryWallGallery li ul.actions li,
div#memoryWallContents ul.actions li {
    float: left;
    margin-right: 0.5em;
}

/*------- memory wall details page --------*/

div#memoryWallContents > div > ul {
     margin: 0 0 0 -20px;
}

li.mw-MediaResource {
    position: relative;
    float: left;
    height: 15.5em;
    margin: 0 0 20px 20px;
    width: 43.1%;
}

div#youtubeapiItems .mw-MediaResource {
    height: 12.5em;
}

div#memoryWallContents li#ytPlayer {
    margin: 0 0 20px 20px;
    
}

li.mw-MediaResource img,
img.mw-MediaResource {
    float: left;
}


/********** FOOTER ***********/
.borderradius div#footer {
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

div#footer ul:first-child > li {
    float: left;
    margin-bottom: 0;
}

div#footer .right p {
    margin-left: 4.5em;
}

}