.sprites{ background:url("/SkNd/web/bundles/SkNd/images/sprites.png") top left no-repeat; }
.right-icon{ width:10px; height:19px; background-position:-10px -10px; }
.left-icon{ width:10px; height:19px; background-position:-10px -39px; }
.email-share-icon{ width:36px; height:36px; background-position:-10px -68px; }
.p-share-icon{ width:36px; height:36px; background-position:-10px -114px; }
.t-share-icon{ width:36px; height:36px; background-position:-10px -160px; }
.fb-share-icon{ width:36px; height:36px; background-position:-10px -206px; }
.name-sort-icon{ width:30px; height:30px; background-position:-10px -252px; }
.date-sort-icon{ width:30px; height:30px; background-position:-10px -292px; }
.delete-small-icon{ width:16px; height:16px; background-position:-10px -332px; }
.delete-icon{ width:30px; height:30px; background-position:-10px -358px; }
.edit-small-icon{ width:16px; height:16px; background-position:-10px -398px; }
.edit-icon{ width:30px; height:30px; background-position:-10px -424px; }
.comment-icon{ width:30px; height:30px; background-position:-10px -464px; }
.share-icon{ width:30px; height:30px; background-position:-10px -504px; }
.menu-icon{ width:30px; height:30px; background-position:-10px -544px; }
.options-icon{ width:30px; height:30px; background-position:-10px -584px; }
.close-icon{ width:30px; height:30px; background-position:-10px -624px; }
.buy-icon{ width:30px; height:30px; background-position:-10px -664px; }
.add-icon{ width:30px; height:30px; background-position:-10px -704px; }
.explore-icon{ width:30px; height:30px; background-position:-10px -744px; }
.info-icon{ width:30px; height:30px; background-position:-10px -784px; }

