/*---------- generics ------------*/
.fl {
    float: left;    
}
.fr {
    float: right;
}

.half-width {
    width: 49%;
}

.third-width {
    width: 32%;
}

.left,
.right,
.centre{ 
    margin: 24px;
}

.left {
    margin-left: 0;
}
.right {
    margin-right: 0;
}
.centre {
    margin: 24px 0;    
}




/*---------- generic search ------------*/
.search-form-label {
    position: absolute;
    left: -9999em;
    top: -9999em;
}

div.errors {
    color: #CC514F;
    font-size: 0.9em;
}

li.listing {
    margin: 0.5em;
    border-bottom: 1px solid #ddd;
    padding: 0.5em;
}