<form id="add-ugc-form" class="full-width" action="{{ path('addUGC',{'mwid':mwid, 'slug':slug }) }}" {{ form_enctype(form) }} method="POST">
    <fieldset>
    <legend>Add yer own stuff</legend>
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'memoryWall.ugc.add.submit'|trans({}, 'SkNdUserBundle') }}" />
    </div>
    </fieldset>
</form>
<div id="ugc-progress">
    <div id="bar"></div>
</div>