<div id="memoryWallContents" class="two-thirds-width fl left">
{% if mw.memoryWallContent|length > 0 %}
    <ul>
    {% for mwc in mw.allMemoryWallContent  %}
        {{ render(controller('SkNdUserBundle:MemoryWallContent:showMemoryWallContent', {
            'params' : {
                'mwc': mwc,
                'wallBelongsToThisUser' : wallBelongsToThisUser
            }
        })) }}
    {% endfor %}        
    </ul>

{% else %}
<p>Sorry, there isn&rsquo;t anything on this wall yet.</p>
{% endif %}

<div id="ytPlayer">
    {% include "SkNdMediaBundle:Media:youTubePlayerPartial.html.twig" %}
</div>

</div>
        
