{% extends 'SkNdUserBundle::layout.html.twig' %}
{% block title %}Check your email{% endblock %}
        
{% block fos_user_content %}
<h1>Check your email</h1>
<div class="half-width fl">
    <p class="strapline">{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
</div>
{% endblock fos_user_content %}    