{% extends 'SkNdUserBundle::layout.html.twig' %}
{% block title %}Terms and Conditions{% endblock %}

{% block fos_user_content %}
<h1>Terms and Conditions</h1>
<div class="full-width">
    <p>We want to keep things as simple as possible here at noodleDig. However, there are some things that you need to agree to before you sign up. Here they are&hellip;</p>
    <ol class="bullet-list">
        <li>
            <h2>Your rights and responsibilities</h2>
            <ol class="bullet-list">
                <li>
                    <h3>You own your own information</h3>
                    <p>Any information you put on noodleDig is yours and as such you&rsquo;re responsible for it. So please don&rsquo;t put stuff up that others may find offensive. This includes material that could be considered pornographic, racist, hatred&ndash;inspiring, threatening or graphically violent. If this kind of thing is reported to us, your account and any information related to it will be removed.</p>
                </li>
                <li>
                    <h3>You let noodleDig have permission</h3>
                    <p>By putting stuff on noodleDig like photos, comments and videos: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content you add to noodleDig.</p>
                </li>
                <li>
                    <h3>You won&rsquo;t do anything nasty</h3>
                    <p>This includes posting unauthorized commercial communcations (e.g. spam), uploading virusus&rsquo; or malicious code, bullying or threatening other people, doing anything illegal or discriminatory or trying to crash noodleDig in some way.</p> 
                </li>
                <li>
                    <h3>You&rsquo;ll tell the truth</h3>
                    <p>When registering, you&rsquo;ll give us truthful, accurate information and not pass on your password to other people.</p>
                </li>
                <li>
                    <h3>You accept our cookies</h3>
                    <p>To create the best experience for you and to help us keep on improving noodleDig, we use cookies. By agreeing to our terms and conditions, you accept that you&rsquo;re ok with this.</p>
                </li>
            </ol>
        </li>
        <li>
            <h2>noodleDig&rsquo;s rights and responsibilities</h2>
            <ol>
                <li>
                    <h3>We&rsquo;ll make noodleDig work</h3>
                    <p>To the best of our ability, we&rsquo;ll use best practise in keeping noodleDig up&ndash;to&ndash;date, secure and bug free. However, you use noodleDig at your own risk. noodleDig offers no warranties or guarantees to its users and will not be held liable for unauthorised content added by users of noodleDig or third&ndash;party applications.</p>
                </li>
                <li>
                    <h3>We&rsquo;ll tell you about changes</h3>
                    <p>If anything changes in our terms and conditions, we&rsquo;ll let you know either through the site or through email.</p>
                </li>
                <li>
                    <h3>We won&rsquo;t pass on your details to others</h3>
                    <p>Unless, of course, you give us permission to do that.</p>
                </li>
                
            </ol>
        </li>
    </ol>
    <p class="note">(Date of last revision: 08/02/2013)</p>    
</div>
{% endblock fos_user_content %}
