<h1>Change your Password</h1>

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
<fieldset>
    <legend>Enter your password details</legend>
    {{ form_widget(form) }}
    <div>
        <input class="button" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</fieldset>
</form>
